body {
	font-family: roboto;
	background: rgb(209,209,209);
	text-align: center;
}
h1	{
	color: white;
	font-size: 40px;
	letter-spacing: 2px;
	background: linear-gradient(20deg,rgba(10,10,10,0.5),
				rgba(200,200,200,0.5)),
				url("images/Peyrou.jpg");
	background-position: center;
	background-size: cover;
	padding: 50px;
	font-family: 'Krub', cursive;
}
img	{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
	box-shadow: 2px 2px 10px grey;
}
a	{
	text-decoration: none;
}
a:hover {
	background: black;
	color: white;
}
ul	{
	text-align: left;
}
p 	{
	border: solid 5px green;
	padding: 30px;
	margin: 100px 100px 100px 100px;
	border-radius: 10px;
}
#box-black {
	background: black;
	padding: 20px;
}
#box-red {
	background: red;
}
#box-green {
	background: green;
}
#box-blue 	{
	background: blue;
}
.width-200px {
	width:200px;
}

.box-pink {
  background: pink;
}